@import url('assets/fonts/fonts.css');

:root {
    --exform-main-color: #ff0045;
    --exform-main-color-hover: #d51a4c;
}

.bg-exform {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 10;
}
.exform-wrapper * {
    box-sizing: border-box;
    font-family: 'Circe Regular';
}

.exform-wrapper.is_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 10px;
    max-width: 700px;
}


.exform-wrapper .exform-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exform-wrapper .exform-input,
.exform-wrapper .exform-textarea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #ededed;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

.exform-wrapper .exform-textarea {
    border-radius: 25px !important;
    padding: 8px 14px !important;
}

.exform-wrapper .exform-textarea textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    border: none;
    outline: none;
}

.exform-wrapper .exform-input svg,
.exform-wrapper .exform-textarea svg {
    width: 20px;
    fill: #585858;
}






/*
    Start Exform Agree
*/
.exform-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    line-height: 17px;
    color: #838383;
    margin-top: 20px;
    transition: .2s all;
    cursor: pointer;
}

.exform-agree:hover { color: #565656; }

.exform-agree a {
    text-decoration: auto;
    color: var(--exform-main-color-hover);
    transition: .3s all;
}

.exform-agree a:hover { color: var(--exform-main-color); }

.exform-agree__checkbox {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #dfdfdf;
    border: 1px solid #cdcdcd;
    transition: .2s all;
}

.exform-agree__checkbox:before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2332c761' viewBox='0 0 16 16'%3e%3cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z'/%3e%3c/svg%3e");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: inherit;
}

.exform-agree__checkbox:has(input[checked]) {
        background-color: #efefef;
}

.exform-agree__checkbox:has(input[checked])::before {
    visibility: visible;
    opacity: 1;
}

.exform-agree__checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    cursor: pointer;
    opacity: 0;
}
/*
    End Exform Agree
*/






.exform-wrapper input {
    outline: unset;
    border: none;
    font-size: 16px;
    background-color: transparent;
    padding: 12px 15px;
    width: 100%;
}

.exform-wrapper [type="submit"] {
    border: none;
    background: var(--exform-main-color);
    color: white;
    transition: .2s all;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 19px;
}

.exform-wrapper [type="submit"].disabled {
    pointer-events: none;
    opacity: 0.5;
}

.exform-wrapper [type="submit"]:hover {
    background: var(--exform-main-color-hover);
}

.exform-wrapper [autocomplete="given-name"]:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: red;
}

.exform-header {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.exform-btn-close {
    content: '';
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: calc(100% - 10px);
    left: calc(100% - 10px);
    padding: 8px;
    cursor: pointer;
    transition: .2s all;
}

.exform-btn-close:hover {
    transform: scale(1.1);
}

.exform-btn-close:hover svg {
    transform: rotate(90deg);
    fill: #FF0233;
}

.exform-btn-close svg {
    width: 100%;
    height: 100%;
    transition: .5s all;
}



.exform-msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px !important;
}

.exform-msg > div {
    font-size: 20px;
    text-align: center;
}

.exform-msg > button {
    border: none;
    padding: 10px 20px;
    background: linear-gradient(45deg, #37ecba, #72afd3);
    color: white;
    cursor: pointer;
    font-size: 16px;
    max-width: max-content;
    margin: 0 auto;
    border-radius: 3px;
    transition: .2s all;
}

.exform-msg > button:hover {
    transform: scale(1.02);
}

.exform-msg.exform-msg__error {
    border: 1px solid #ffc0c0;
}

.exform-msg.exform-msg__success {
    border: 1px solid #adedc0;
}