.bg-exform {
    display: flex !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 10;
}

.exform-wrapper.is_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 10px;
    max-width: 700px;
}

.exform-header {
    margin-bottom: 20px;
    text-align: center;
}

.exform-btn-close {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    background: green;
    cursor: pointer;
}



.exform-msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px !important;
}

.exform-msg > div {
    font-size: 20px;
    text-align: center;
}

.exform-msg > button {
    border: none;
    padding: 10px 20px;
    background: linear-gradient(45deg, #37ecba, #72afd3);
    color: white;
    cursor: pointer;
    font-size: 16px;
    max-width: max-content;
    margin: 0 auto;
    border-radius: 3px;
    transition: .2s all;
}

.exform-msg > button:hover {
    transform: scale(1.02);
}

.exform-msg.exform-msg__error {
    border: 1px solid #ffc0c0;
}

.exform-msg.exform-msg__success {
    border: 1px solid #adedc0;
}