@font-face {
    font-family: 'Circe Regular';
    src: url('Circe-Regular.eot');
    src: url('Circe-Regular.eot?#iefix') format('embedded-opentype'), url('Circe-Regular.woff') format('woff'), url('Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('Circe-Bold.eot');
    src: url('Circe-Bold.eot?#iefix') format('embedded-opentype'), url('Circe-Bold.woff') format('woff'), url('Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}