* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    font-size: 22px;
}

main {
    margin-bottom: 50px;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

main {
    margin-top: 50px;
}

.btn {
    padding: 10px;
    border: none;
    background: #43b95d;
    width: 100%;
    max-width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    transition: .2s all;
    min-width: max-content;
}

.btn:hover {
    background: #32cd54;
}

.btn_active {
    display: flex !important;
}

.exform-main {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.exform-main_loading {
    opacity: 0.6;
}

.exform-sidebar {
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 10px;
    min-width: 300px;
}



.exform-content {
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 10px;
    width: 100%;
}

.exform-sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exform-sidebar__tab {
    display: block;
    width: 100%;
    padding: 8px 11px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: .2s all;
}

.exform-sidebar__tab:last-child {
    margin-bottom: 0;
}

.exform-sidebar__tab:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}

.exform-sidebar__tab_active {
    background-color: #000000;
    color: white;
    cursor: auto;
}

.exform-sidebar__name {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

/*
    Tab content
*/
.exform-content__tab {
    display: none;
}
.exform-content__tab_active {
    display: block;
}

.exform-content__ace {
    height: 500px;
}

/*
    Accordion
*/
.accordion__btn {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion__btn_open {
    background: #525252;
}


.global-config {
    margin-top: 20px;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 10px;
}

.global-config-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.global-config-editor {
    height: 300px;
}